.carousel-caption .caption-container {
    border: 2px solid white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    display: inline-block;
    max-width: 90%;
    margin: 0 auto;
  }


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: 70%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev,
.carousel-control-next {
  filter: drop-shadow(0 0 5px black);
}
