/* Estilo para la barra de navegación */
.navbar {
    background-color: #443e3d;
  }

  .navbar .navbar-brand,
  .navbar .navbar-nav .nav-link,
  .navbar .navbar-toggler-icon {
    color: white; /* Texto blanco */
  }

  .navbar .navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Color blanco más suave cuando se pasa el cursor */
  }

  .navbar .navbar-toggler {
    border-color: #f8f9fa; /* Botón de menú con borde blanco */
  }

  .navbar .navbar-collapse {
    justify-content: flex-end; /* Alineación a la derecha */
  }

  .navbar .nav-dropdown-menu {
    background-color: #343a40; /* Fondo oscuro para el dropdown */
  }

  .navbar .nav-dropdown-menu .nav-link {
    color: white; /* Texto blanco en los items del dropdown */
  }

  .navbar .nav-dropdown-menu .nav-link:hover {
    background-color: #495057; /* Fondo ligeramente más claro en hover */
  }
